@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
* {
    padding: 0;
}

body {
    background-color: #cccccc;
}

.container {
    text-align: center;
}

.header {
    margin-top: 8rem;
    font-family: 'Reggae One', cursive;
    color: #004d4d;
}

.searchbar-form {
    text-align: center;
    margin: 4%;
}

.searchbar {
    border-color: #ff1a75;
    padding: 1rem;
    font-size: 25px;
    width: 70%;
    border-style: solid;
    background-color: #323841;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.575);
    border-radius: 2rem;
    color: rgb(223, 218, 218);
}

.searchbar:focus {
    background-color: #454c5f;
    color: rgb(255, 255, 255);
    outline: none;
    -webkit-text-fill-color: white;
}

.searchbar::placeholder {
    -webkit-text-fill-color: rgb(6, 215, 230);
}

.navbar-footer {
    height: max-content;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    background-color: #0E2431;
    color: white;
}