* {
    background-color: #cccccc;
}

.searchbar-form {
    text-align: center;
    margin: 17%;
}

.searchbar {
    border-color: blueviolet;
    padding: 1rem;
    font-size: 25px;
    width: 80%;
}